.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  background: url(/digitalfoodprint/public/assets/images/tracetaste/Background.png) no-repeat center center !important;
  background-size: cover !important; 
  position: relative;
  height: 100vh;
}

.carousel {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
  }
  
  .carousel-container {
    position: relative;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide {
    min-width: 100%;
    display: none;
  }
  
  .carousel-slide.active {
    display: block;
  }
  
  .carousel img {
    width: 100%;
    display: block;
  }
  
  .carousel button {
    position: absolute;
    top: 50%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    font-size: 24px;
  }
  
  .carousel .prev {
    left: 10px;
  }
  
  .carousel .next {
    right: 10px;
  }